/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$table-bg-accent: #fffaf0;
$table-bg-hover: #fff0d0;
$navbar-default-bg: #fff0d0;
$navbar-default-link-color: #222;
$navbar-default-link-hover-color: #222;
$navbar-default-link-hover-bg: #ffcc88;
$navbar-default-brand-hover-color: #222;
$navbar-default-toggle-icon-bar-bg: #222;
$navbar-default-toggle-hover-bg:           #ffcc88 !default;
$navbar-default-toggle-icon-bar-bg:        #ffcc88 !default;
$navbar-default-toggle-border-color:       transparent !default;
$pagination-hover-bg: #fff0d0;
$pagination-active-bg: #fff6d8;
$pagination-active-color: #222;
$well-bg: #fffaf0;
$breadcrumb-bg: #fffaf0;

@import "bootstrap-sprockets";
@import "bootstrap";

@import "bootswatch/flatly/variables";

body { padding-top: 60px; }

@import "bootswatch/flatly/bootswatch";

$nav-color: #222;
$nav-back-color: #fff0d0;
$nav-hover-back-color: #ffcc88;
$table-well-back-color: #fffaf0;
$nav-well-border-color: #ffcc88;

.navbar-default {
    border-color: $nav-well-border-color;
    border-style: none none dashed none;
    border-width: 0.3em;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #007fff;
}

.pagination li a {
    padding: 10px 18px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}

.well-sm {
    border-color: $nav-well-border-color;
    border-style: dashed;
    border-width: 0.2em;
}

.formText {
    border-left: 0.2em solid #44c !important;
}

p.formText {
    padding-left:0.3em;
}

.formNum {
    border-left: 0.2em dashed red !important;
}

p.formNum {
    padding-left:0.3em;
}

.example_select{
    padding-left: 0.5em;
    border-left: solid $nav-well-border-color;
    background-color: $nav-back-color;
}
.pointer{
    cursor:pointer;
}
