/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *
 */

$black:                             #222;
$gray:                              #ddd;

$primary:                           #fff0d0;

$hover-bg-color:                    #fff0d0;
$weak-color:                        #fffaf0;
$nav-back-color:                    $hover-bg-color;
$nav-hover-bg-color:                #fc8;
$nav-active-bg-color:               #fda;
$nav-well-border-color:             #fc8;

$table-accent-bg:                   $weak-color;
$table-hover-bg:                    $hover-bg-color;
$link-color:                        #08f;
$link-bg-color:                     $link-color;
$navbar-light-color:                $black;
$navbar-light-hover-color:          $black;
$navbar-light-active-color:         $black;
$navbar-light-toggler-border-color: transparent;
$dropdown-link-hover-bg:            $link-color;
$dropdown-link-active-bg:           $link-color;
$breadcrumb-bg:                     $weak-color;
$card-cap-bg:                       $weak-color;

//== Pagination

$pagination-color:                  $link-color;
$pagination-bg:                     #fff;
$pagination-border-color:           $gray;
$pagination-border-width:           0.05rem;

$pagination-hover-color:            $link-color;
$pagination-hover-bg:               $hover-bg-color;
$pagination-hover-border-color:     $gray;

$pagination-active-color:           $link-color;
$pagination-active-bg:              $hover-bg-color;
$pagination-active-border-color:    $gray;

$pagination-disabled-color:         $black;
$pagination-disabled-bg:            #fff;
$pagination-disabled-border-color:  $gray;

@import "bootswatch/flatly/variables";
@import "bootstrap";

@import "bootswatch/flatly/bootswatch";

body { padding-top: 5rem; }

.navbar-custom {
    border-color: $nav-well-border-color;
    border-style: none none dashed none;
    border-width: 0.3rem;
}

.navbar-custom .navbar-brand,{
    padding: .8rem .5rem;
}
.navbar-custom .navbar-nav .nav-link{
    padding: 1rem .5rem;
}

.navbar-custom .nav-item.show .nav-link {
    background-color: $nav-active-bg-color;
}

.navbar-custom .nav-item:hover .nav-link {
    background-color: $nav-hover-bg-color;
}

.dropdown-menu.show[aria-labelledby="themes"] {
    display:flex;
    width:28rem;
    flex-wrap:wrap;
}

.dropdown-menu.show[aria-labelledby="themes"] .dropdown-item{
    width:50%;
}

.dropdown-menu.show[aria-labelledby="themes"] .dropdown-item.one-item{
    width:100%
}

.pagination li a {
    padding: .8rem 1rem;
}

.page-item {
    white-space: nowrap
}

.page-item.disabled {
    cursor: not-allowed;
}

h2 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

label {
    font-weight: bold;
}

::placeholder {
    color: #ccc;
}

.card.top {
    background-color: $weak-color;
    border-color: $nav-well-border-color;
    border-style: dashed;
    border-width: 0.2rem;
    margin-bottom: 1rem;
}

.card.desc {
    background-color: #fff;
    border-color: $nav-well-border-color;
    border-style: solid;
    border-width: 0.05rem;
    box-shadow: .3rem .3rem .3rem rgba(0,0,0,0.2);
    margin-bottom: 1rem;
}

.card.desc .card-header {
    margin-left: 1px;
}

.formText {
    border-left: 0.2rem solid #44c !important;
}

p.formText {
    padding-left:0.3rem;
}

.formNum {
    border-left: 0.2rem dashed red !important;
}

p.formNum {
    padding-left:0.3rem;
}

.example_select{
    background-color: $nav-back-color;
    border-left: 0.5rem solid #fa0;
    padding: 0.5rem 0.8rem;
}

.pointer{
    cursor:pointer;
}

.closed{
    display:none;
}

.td-sign{
    font-size: x-large;
}

span.xl{
    font-size: x-large;
}

th.sep,td.sep{
    border-left: 3px solid $table-border-color;
}

tr.sep{
    border-top: 4px solid $table-border-color;
}

table tr:nth-child(1) span.act_desc{
    font-size:80%
}

table tbody:nth-child(1) td{
    border-left:   0.5rem solid #fa0;
}

table tbody.tbody_toggle td{
    border-left:  0.5rem solid #fa0;
    padding-left: 2rem;
}

$submit-color: #2255ee;

button.submit {
    background-color: $submit-color;
    border-radius: 0.5rem;
    border: 0.2rem solid transparent;
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.2);
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 0.8rem;
    transition: 0.2s linear;
}

button.submit:hover {
    background-color: #fff;
    border: 0.2rem solid $submit-color;
    color: $submit-color;
}

input[type=checkbox] {
    cursor: pointer;
}

input + label:hover {
    cursor: pointer;
}

input + label:hover {
    box-shadow: 0rem -0.5rem 0.5rem -0.5rem #fa0 inset,0rem 0.5rem 0.2rem -0.5rem #fa0;
}

// 学科から獲得カードを選択ページのチェックボックス

ul.image_checkbox li {
    display:inline-block;
    text-align: center;
    padding-right: 2rem;
}

ul.image_checkbox li .check_div .image_box{
    width:300px;
    height:300px;
    margin: auto;
    position: relative;
}

.image_box .image_frame{
    width:300px;
    height:300px;
    border: 6px solid transparent;
    cursor:pointer;
}
.image_frame {
    display:inline-block;
}
.image_frame img{
    box-sizing: border-box;
    border: 1px solid black;
}

.image_box .image_frame img{
    width:100%;
    height:100%;
}

.check_div.checked .image_frame {
    border: 6px solid red;
}

.image_box input {
    position:absolute;
    top:12px;
    right:12px;
    pointer-events: none; 
}

span.input::after {
    content: "　" ;
}

span.after_space::after {
    content: "　" ;
}


@media screen and (max-width:767px) {
    h1 {
        font-size: 1.5rem;
    }

    table.search_toggle:not(.subject) {
        border-collapse: collapse;
        td, th {
            display: block;
        }
    }
    table.subject input[type="text"] {
        width:80px;
    }
    td.indent {
        border:  0rem;
        padding: 0rem;
    }

    .pagination {
        display: inline;
    }

    .pagination li {
        display: inline-block;
    }
    
    span.input::after {
        content: "\a" ;
        white-space: pre ;
    }

    span.mobile_br::after {
        content: "\a" ;
        white-space: pre ;
    }

    ul{
        padding-left: 1rem;
    }

    ul.image_checkbox li .check_div .image_box{
        width:200px;
        height:200px;
    }
    
    .image_box .image_frame{
        width:200px;
        height:200px;
    }
}
