%p.formNum
  数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット
  %br
  「100~」で100以上、「~100」で100以下、「-200~100」で-200～100の範囲指定となります。
%p.formText
  「傷火炎」と入力　→　傷火炎、列傷火炎、全傷火炎……が検索結果にヒット
  %br
  「"傷火炎"」　→　完全一致で「傷火炎」のみ検索結果にヒット
  %br
  「-傷火炎」　→　「傷火炎」の単語を含まないものが検索結果にヒット
  %br
  「-"傷火炎"」　→　完全一致で「傷火炎」以外の全てが検索結果にヒット
  %br
  「傷火炎 -"傷火炎"」　→　「傷火炎」が含まれる単語で完全一致の「傷火炎」以外がヒット。つまり、傷火炎を除いて列傷火炎、全傷火炎……がヒットします。
  %br
  「傷 火炎」　→　「傷」と「火炎」の2つの単語が含まれるものが検索結果にヒット。傷火炎、傷身火炎、傷心火炎……がヒットします。
  %br
  「傷/火炎」　→　「傷」か「火炎」のどちらかの単語が含まれるものが検索結果にヒット。傷火炎、傷氷水、耐火炎……がヒットします。
  %br
  「傷 火炎/氷水」　→　「傷」が含まれ、さらに 「火炎」か「氷水」 が含まれるものが検索結果にヒット
  %br
  「-傷 -火炎」　→　「傷」もしくは「火炎」という単語が含まれるものを検索結果から除外
  %br
  「"傷斬払"/"傷突刺"/"傷殴打"/"傷投射"/"傷火炎"/"傷氷水"/"傷疾風"/"傷天光"/"傷冥闇"」　→　敵単体に一回攻撃を行う創傷カードのみヒットします
  %br
  「"付猛毒"/"付麻痺"/"付封殺"/"付混乱"/"付魅了"」　→　敵単体に一回状態異常を与えるカードのみヒットします
